@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* css reset */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all linear .3s;
    border: none;
}
/* css reset end */

/* h1 */
h1 {
    text-align: center;
}

/* section height */
section {
    min-height: 100vh;
}
/* section height end */

/* navbar start */
header {
    top: .5rem;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    box-shadow: 0 5px 3px rgba(1, 1, 1, .5);
    background-color: white;
    font-size: 1rem;
    margin: 0 10%;
    border-radius: 3rem;
}

header .logo {
    font-weight: bold;
    font-size: 1rem;
}

header .logo a {
    color: #112570;
    margin: 0 1rem;
}

header .logo span {
    color: orange;
}

header .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    margin: 0 1rem;
}

header .navbar ul li {
    width: 5rem;
}

header .navbar ul li a {
    margin-right: 10%;
    color: #112570;
    font-weight: bold;
    text-align: center;
}

/* hover animation */
header .navbar ul li:hover {
    border-bottom: orange 1px solid;
    transition: 0ms;
}

header .navbar ul li a:hover {
    color: orange;
}
/* navbar end */

/* header start */
.container {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    background-image: url(./assets.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container .content {
    color: white;
}

.container .content h4 {
    font-size: 1rem;
}

.container .content h2 {
    font-size: 2.5rem;
}

.container .content .sosmed {
    margin-left: 10px 0;
}

.container .content .sosmed i {
    font-size: 1.2rem;
    background-color: rgba(1, 1, 1, .2);
    color: white;
    padding: .5rem;
    border-radius: 50%;
}
/* header end */

/* about start */
#about {
    left: 0;
    right: 0;
}

#about h1 {
    display: none;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 10%;
}

.about .image {
    width: 50%;
    text-align: center;
}

.about .image img {
    width: 50%;
    border-radius: 50%;
    filter: grayscale(100%);
}

.about .about-content {
    width: 50%;
}

.about .about-content .biodata {
    display: flex;
}

.about .about-content .biodata span {
    color: #112570;
}

.about .about-content .biodata p {
    margin-left: 0;
    margin-right: .8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: .9rem;
}

/* button */
.about .about-content .btn a {
    color: white;
    background-color: #ff00cc;
    font-weight: bold;
    padding: .4rem 1.5rem;
    border-radius: 1rem;
}

.about .about-content .btn a:hover {
    background-color: #d400aa;
}
/* about end */

/* contact start */
#contact {
    background-color: rgb(228, 225, 225);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-contact {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50rem;
    box-shadow: 1rem 1rem 1rem rgba(1, 1, 1, .3);
}

/* contact form */

.container-contact .form {
    width: 50%;
    background: linear-gradient(to bottom right, #2d1650, #d400aa);
    height: 20rem;
    padding: 2rem;
}

.container-contact .form form {
    margin-left: 1rem;
}

.container-contact .form h2 {
    color: white;
}

.container-contact .form input {
    font-size: .9rem;
    background-color: transparent;
    border-bottom: solid 1px #112570;
    width: 100%;
    color: white;
}

.container-contact .form textarea {
    font-size: .9rem;
    background-color: transparent;
    border: 1px solid #112570;
    width: 100%;
    height: 7rem;
    resize: none;
    color: white;
}

.container-contact .form button {
    background-color: #ff00cc;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.container-contact .form button:hover {
    background-color: #d400aa;
}
/* contact us */

.container-contact .contact-us {
    width: 50%;
    height: 20rem;
    background-color: #fff;
    padding: 2rem;
}

.container-contact .contact-us p {
    font-size: .9rem;
}

.container-contact .contact-us span {
    font-weight: 600;
}

.container-contact .contact-us ul {
    list-style-type: none;
}

.container-contact .contact-us ul li p{
    margin: 1rem;
}
/* contact end */

/* footer start */
#footer {
    background-color: #0a0030;
    left: 0;
    right: 0;
}

.footer {
    margin: 0 10%;
    color: white;
    display: flex;
}

.footer ul {
    list-style-type: none;
}

.footer ul li a {
    color: white;
}

.footer .greeting {
    width: 35%;
    margin: 1rem;
}

.footer .links {
    width: 35%;
    margin: 1rem;
}

.footer .links i {
    color: orange;
    font-size: 1rem;
}

.footer .links a:hover {
    color: orange;
}

.footer .social {
    width: 35%;
    margin: 1rem;
}

.footer .social .sosmed-social {
    margin-right: 1rem;
    margin-top: .8rem;
}

.footer .social .sosmed-social a {
    background-color: white;
    color: #0e0141;
    border-radius: 50%;
    font-size: 1.2rem;
    margin-right: .3rem;
    padding: .3rem .6rem;
}

.footer .social .sosmed-social a:hover {
    background-color: orange;
}

hr {
    margin: 0 10%;
    border: .1rem solid white;
}

#footer h4 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
}

#footer h4 span {
    color: orange;
}
/* footer end */

/* resume.html */
#resume {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1rem 1rem 1rem rgba(1, 1, 1, .3);
}

.resume {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1rem 1rem 1rem rgba(1, 1, 1, .3);
}

.resume .mybiodata {
    background: linear-gradient(to bottom right, #2d1650, #d400aa);
    height: 20rem;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    color: white;
}

.resume .mybiodata img {
    width: 50%;
    border-radius: 50%;
}

.resume .resume-content .btn {
    margin-top: 2.5rem;
}

.resume .resume-content .btn a {
    color: white;
    background-color: #ff00cc;
    border-radius: 1rem;
    padding: .2rem 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}

.resume .resume-content .btn a:hover {
    background-color: #d400aa;
}

.resume .resume-content {
    height: 20rem;
    padding: 1rem;
    width: 30rem;
    background-color: white;
}

.resume .resume-content table {
    padding-top: 2rem;
}

.resume .resume-content td {
    padding-right: .5rem;
}

/* mobile */
@media only screen and (max-width: 600px) {
   
    body {
        overflow-x: hidden;
    }

    span {
        min-height: 100vh;
    }

    /* navbar */

    header {
        left: 0;
        top: 0;
        right: 0;
        border-radius: 0;
        margin: 0;
        height: 3.5rem;
        text-align: center;
    }

    /* about */

    #about h1 {
        display: block;
        padding: 1rem;
    }

    .about {
        min-height: 100vh;
        display: block;
    }

    .about .image {
        width: 100%;
    }

    .about .image img {
        width: 50%;
    }

    .about .about-content {
        width: 100%;
    }

    .about .about-content h2 {
        font-size: 1.3rem;
    }

    .about .about-content h3 {
        font-size: 1rem;
    }

    .about .about-content p {
        font-size: .9rem;
    }

    .about .about-content .biodata {
        display: block;
    }

    .about .about-content .biodata p {
        font-size: .85rem;
    }

    .about .about-content .btn a {
        font-size: .9rem;
        padding: .3rem 1rem;
    }

    /* contact */

    .container-contact {
        box-shadow: .3rem .3rem .3rem rgba(1, 1, 1, 0);
    }

    .container-contact .form {
        width: 70%;
        box-shadow: .5rem .5rem .5rem rgba(1, 1, 1, .2);
    }

    .container-contact .form input {
        font-size: .8rem;
    }

    .container-contact .form textarea {
        font-size: .8rem;
    }

    .container-contact .form button {
        font-size: .9rem;
        padding: .3rem 1rem;
    }

    .container-contact .contact-us {
        display: none;
    }

    /* footer */

    #footer h4 {
        font-size: 1rem;
    }

    .footer {
        font-size: .9rem;
    }

    .footer .links {
        display: none;
    }

    .footer .social {
        width: 50%;
    }

    .footer .social .sosmed-social a {
        font-size: .9rem;
        padding: .2rem .4rem;
    }

    .footer .greeting {
        width: 50%;
    }

    /* resume */

    .resume {
        font-size: .9rem;
    }

    .resume .mybiodata {
        display: none;
    }

}
/* mobile */