@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* css reset */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all linear .3s;
}
/* css reset end */

/* h1 */
h1 {
    text-align: center;
}

/* section height */
section {
    height: 100vh;
}
/* section height end */

/* navbar start */
header {
    top: .5rem;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    box-shadow: 0 5px 3px rgba(1, 1, 1, .5);
    background-color: white;
    font-size: 1rem;
    margin: 0 10%;
    border-radius: 3rem;
}

header .logo {
    font-weight: bold;
    font-size: 1rem;
}

header .logo a {
    color: #112570;
    margin: 0 1rem;
}

header .logo span {
    color: orange;
}

header .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
}

header .navbar ul li {
    width: 6rem;
}

header .navbar ul li a {
    margin-right: 10%;
    color: #112570;
    font-weight: bold;
    text-align: center;
}

/* hover animation */
header .navbar ul li:hover {
    border-bottom: orange 1px solid;
    transition: 0ms;
}

header .navbar ul li a:hover {
    color: orange;
}
/* navbar end */

/* header start */
.container {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    background-image: url(../assets/bgimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container .content {
    color: white;
}

.container .content h4 {
    font-size: 1rem;
}

.container .content h2 {
    font-size: 2.5rem;
}

.container .content .sosmed {
    margin-left: 10px 0;
}

.container .content .sosmed i {
    font-size: 1.2rem;
    background-color: rgba(1, 1, 1, .2);
    color: white;
    padding: .5rem;
    border-radius: 50%;
}
/* header end */

/* about start */
#about {
    left: 0;
    right: 0;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 10%;
}

.about .image {
    width: 50%;
    text-align: center;
}

.about .image img {
    width: 50%;
    border-radius: 50%;
}

.about .about-content {
    width: 50%;
}

#about h1 {
    font-size: 2rem;
}

.about .about-content .biodata {
    display: flex;
}

.about .about-content .biodata span {
    color: #112570;
}

.about .about-content .biodata p {
    margin-left: 0;
    margin-right: .8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: .9rem;
}
/* about end */

/* project start */
#project {
    background-color: #112570;
}
/* project end */

/* contact start */
.container-contact {
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: orange;
    /* background-image: url(../assets/autumn-scenery.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

.container-contact .content-contact {
    color: #112570;
}

.container-contact .content-contact .sosmed {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-contact .content-contact .sosmed .sosmed-contact {
    background-color: #112570;
    margin: 0 1rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-contact .content-contact .sosmed .sosmed-contact a {
    color: white;
    font-size: 2rem;
}
/* contact end */

/* footer start */
#footer {
    background-color: #0e0141;
    left: 0;
    right: 0;
}

.footer {
    margin: 0 10%;
    color: white;
    display: flex;
}

.footer ul {
    list-style-type: none;
}

.footer ul li a {
    color: white;
}

.footer .greeting {
    width: 35%;
    margin: 1rem;
}

.footer .links {
    width: 35%;
    margin: 1rem;
}

.footer .links i {
    color: orange;
    font-size: 1rem;
}

.footer .links a:hover {
    color: orange;
}

.footer .social {
    width: 35%;
    margin: 1rem;
}

.footer .social .sosmed-social {
    margin-right: 1rem;
    margin-top: .8rem;
}

.footer .social .sosmed-social a {
    background-color: white;
    color: #0e0141;
    border-radius: 50%;
    font-size: 1.2rem;
    margin-right: .3rem;
    padding: .3rem .6rem;
}

hr {
    margin: 0 10%;
}

#footer h4 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

#footer h4 span {
    color: orange;
}
/* footer end */